<p>
  <b>Adv:</b>
  <%=h @adv.adv_id %>
</p>

<p>
  <b>Store:</b>
  <%=h @adv.store_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @adv.title %>
</p>

<p>
  <b>Text:</b>
  <%=h @adv.text %>
</p>

<p>
  <b>Pic:</b>
  <%=h @adv.pic %>
</p>

<p>
  <b>Start time:</b>
  <%=h @adv.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @adv.end_time %>
</p>

<p>
  <b>Push:</b>
  <%=h @adv.push %>
</p>

<p>
  <b>Remain:</b>
  <%=h @adv.remain %>
</p>


<%= link_to 'Edit', edit_adv_path(@adv) %> |
<%= link_to 'Back', advs_path %>