<h1>Listing ele_coupons</h1>

<table>
  <tr>
    <th>Adv</th>
    <th>Barcode</th>
    <th>Paid</th>
    <th>Eff start time</th>
    <th>Eff end time</th>
  </tr>

<% @ele_coupons.each do |ele_coupon| %>
  <tr>
    <td><%=h ele_coupon.adv_id %></td>
    <td><%=h ele_coupon.barcode %></td>
    <td><%=h ele_coupon.paid %></td>
    <td><%=h ele_coupon.eff_start_time %></td>
    <td><%=h ele_coupon.eff_end_time %></td>
    <td><%= link_to 'Show', ele_coupon %></td>
    <td><%= link_to 'Edit', edit_ele_coupon_path(ele_coupon) %></td>
    <td><%= link_to 'Destroy', ele_coupon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ele_coupon', new_ele_coupon_path %>